/*
 * Credit to Spring 2020 CSE 331 server material, css for modifying user
 * form input styling
 */

/*
NOTE: This file is designed to help you just get a simple canvas with the correct
settings, centered on the screen. If you'd like to modify this, you're totally
welcome to do so. This is just to help you get something simple working first.
 */

/*
This makes all <canvas> elements fill 90% of the width of whatever they're inside.
We deliberately do not set the height here too - when we set canvas.width
and canvas.height in UserForm.tsx, this 90% helps keep the canvas from being too big,
but not setting the height means the image keeps the correct aspect ratio (it'll be set
automatically to the correct thing).
 */
canvas {
    width: 90%;
    margin: 0 auto;
    display: block;
}

/* Left-aligns the title text onto page. Also makes the text bigger, bold, and adds
some space around the title and console font. :) */
#app-title {
    text-align: center;
    color: purple;
    font-size: 36px;
    font-weight: bolder;
    float: left;
    font-family: "Courier New", Courier, monospace;
    text-decoration: overline underline;
    text-decoration-style: double;
    text-shadow: 2px 2px gold;
    margin-bottom: 2%;
}

/* Makes user-form and elements inside form div align center */
#user-form {
    display: flex;
    text-align: left;
    background-color: darkgoldenrod;
    border-radius: 20px;
    justify-content: left;
    flex-direction: column;
}

/* For styling form category containers */
#dropdown, #vaccine-inventory, #districts-container, #covid-stats-container, #general-stats-container {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    border-style: dashed;
    border-radius: 10px;
    background-color: rebeccapurple;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px purple;
    font-size: 18px;
    text-align: left;
    width: 50%;
    color: white;
}

/* For scrollable districts checkbox */
#districts-list-container {
    position: relative;
    border: 2px solid #ccc;
    padding: 2%;
    height: 200px;
    margin: 0 auto;
    overflow-y: scroll;
}

/* For styling form category title */
#category-title {
    font-size: 20px;
}

/* For styling form category description */
#category-desc {
    font-size: 14px;
}

/* For styling submit button */
#submit-button {
    position: relative;
    width: 52%;
    margin-bottom: 2%;
    margin-left: 25%;
}

/* For styling of dropdowns */
select {

}

/* Forstyling of hovering on a dropdown */
select:hover {

}

/* For background color of dropdown items */
option {
    background-color: goldenrod;
    color: rebeccapurple;
    font-weight: bold;
}

/* Font for all buttons */
button {
    margin: 1%;
    width: fit-content;
}

/* For changing color on buttons when hovered */
button:hover {
    background-color: yellow;
}

/* For styling list of districts */
li {
    list-style-type: none;
    /* To align text */
    display: flex;
    align-items: center;
}