/*
 * Credit to Spring 2020 CSE 331 server material, css for modifying user
 * form input styling
 */

/* Left-aligns the title text onto page. Also makes the text bigger, bold, and adds
some space around the title and console font. :) */
#app-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    float: left;
    margin-bottom: 2%;
    margin-left: 35%;
    width: 30%;
}

/* Makes user-form and elements inside form div align center */
#user-form {
    display: inline-flex;
    text-align: left;
    background-color: #FFFFE0;
    border-radius: 20px;
    justify-content: left;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin-left: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* For styling form category containers */
#dropdown, #vaccine-inventory, #districts-container, #covid-stats-container, #general-stats-container {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 6%;
    margin-bottom: 2%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #E0E0FF;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    width: 76.5%;
}

/* For scrollable districts checkbox */
#districts-list-container {
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 2%;
    height: 200px;
    margin-left: 4%;
    overflow-y: scroll;
    background-color: white;
    width: 50%;
    font-weight: normal;
}

/* For styling form category title */
#category-title {
    font-size: 25px;
    margin-bottom: -1%;
    margin-left: 4%;
}

/* For styling form category description */
#category-desc {
    font-size: 14px;
    padding-bottom: 2%;
    margin-left: 4%;
}

/* For styling file upload text */
#file-p {
    font-weight: lighter;
    font-size: 12px;
    position: relative;
    float: right;
    margin-right: 20%;
}

/* For styling of dropdowns and input alignment */
select, input {
    margin-left: 4%;
    border-radius: 8px;
    padding: 3px;
    width: 30%;
    border-width: 0;
}

/* For styling selection of input contents */
select:focus, input:focus {
    outline: none;
}

/* For background color of dropdown items */
option {

}

/* Styling for all buttons */
#download-btn, #upload-btn, #submit-button {
    margin-left: 4%;
    margin-right: 2%;
    width: fit-content;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-image: linear-gradient( to bottom, #fff, #ccc );
    font-weight: lighter;
    font-size: 12px;
    padding: 3px;
    display: inline-flex;
}

/* Additional styling for download btn */
#download-btn {
    margin-right: 6%;
}

/* For style on buttons when hovered */
#download-btn:hover, #upload-btn:hover {
    cursor: pointer;
    border-color: #3c7fb1;
    background-image: linear-gradient( to bottom, #fff, #a9dbf6 );
}

/* For additional styling on submit button */
#submit-button {
    border-radius: 15px;
    position: relative;
    width: fit-content;
    margin-bottom: 2%;
    margin-left: 40%;
    padding: 2%;
    font-weight: bold;
    font-size: 18px;
    background-image: linear-gradient(to right, #FFFFE0 51%, #E0E0FF 100%);
}

/* For additional styling on submit button upon hover */
#submit-button:hover {
    cursor: pointer;
    border-color: #3c7fb1;
    background-image: linear-gradient(to left, #FFFFE0 51%, #E0E0FF 100%);
}

/* For styling list of districts */
li {
    list-style-type: none;
}

/* For styling checkboxes */
input[type="checkbox" i] {
    position: relative;
      display: inline-flex;
      width: fit-content;
      height: 11px;
      border: 1px solid #808080;
      content: "";
      background: #FFF;
      margin-left: 1%;
      width: 20px;
      height: 20px;
      margin-right: 15px;
}

/* For scrollbar styling */
/* width */
div::-webkit-scrollbar {
  width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  height: 20px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
  background: #555;
}